<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="description" content=""/>
      <meta name="author" content=""/>
      <title>Scribr.</title>
      <!-- favicon.ico -->
      <link rel="shortcut icon" href="/favicon.ico"/>
      <link href="/css/bootstrap.min.css" rel="stylesheet"/>
      <link href="/css/bootstrap-theme.min.css" rel="stylesheet"/>
      <link href="/css/custom-chat.css" rel="stylesheet"/>
      
      <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet"/>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <!--[if IE]><link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet"><![endif]-->
  </head>
  <body>
      <div class="container">
          <div layout:fragment="content"></div>
      </div>
      <!-- /container -->
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <!--[if IE]><script src="/js/ie10-viewport-bug-workaround.js"></script><![endif]-->
      <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/jquery.mark.min.js"></script>
      <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
    	<script src="/js/custom.js"></script>
  </body>
</html>
