.blue { background: blue }
.grey { background: grey }
.orange {color: #fd8741;}
.chats-row { height: 100vh; }
.chats-row div { 
    height: 50%;
    border: 1px solid #ddd;
    padding: 0px; 
}

.list-group-item {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    
}
.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.current-chat { 
    height: 100vh; 
    border: 1px solid #ddd;
}

.chat-toolbar-row {
    background-color: #3f3f3f;
}

.chat-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-chat-area {
    padding-top: 10px;
    overflow: auto;
    height: 92vh;
}

.body {
	background-color: #3f3f3f;
}

.action-font {
	font-family: 'Lobster', cursive;
	font-size: large;
	color: #f3f3f3;
	
}
.transcript-font {
	font-family: 'Raleway', sans-serif;
	font-size: medium;
	color: #f3f3f3;
}
